<div>
    <form (ngSubmit)="register();">
        <div class="register-header-container">
            <img src="https://icon-library.com/images/register-icon-free/register-icon-free-16.jpg" alt="">
            <h2>Registration</h2>
        </div>

        <mat-form-field appearance="outline" class="input-container">
            <mat-label>Name</mat-label>
            <input type="text" matInput name="name" id="name" placeholder="Enter the name" [(ngModel)]="name"
                required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-container">
            <mat-label>Email</mat-label>
            <input type="text" matInput name="email" id="email" placeholder="Enter the email" [(ngModel)]="email"
                required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-container">
            <mat-label>Password</mat-label>
            <input type="password" matInput name="password" id="password" placeholder="Enter the password"
                [(ngModel)]="password" required />
        </mat-form-field>

        <div class="button-container">
            <a routerLink="/login"><button mat-raised-button type="button" color="primary">Cancel</button></a>
            <button mat-raised-button color="primary">Register</button>
        </div>
    </form>
</div>